header {
  background-image: url(../../assets/home.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 768px;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  h1 {
    font-weight: 300;
    font-size: 55px;
    line-height: 66px;
    margin-bottom: 25px;
  }
  p {
    font-weight: 400;
    font-size: 22px;
    line-height: 37px;
    margin-bottom: 29px;
  }
  button {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0 auto;
    padding: 10px 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    background: #28a745;
    border-radius: 5px;
  }
}
